doctype html
html(lang= "en")
    head
        meta(charset= "UTF-8")
        meta(http-equiv= "X-UA-Compatible", content="IE=edge")
        meta(name= "viewport" content= "width=device-width, initial-scale")
        link(rel="stylesheet", href="/css/admin.css")
        title Blog de idiomas - MK
    body
        header(class="header")
            img(src="/images/Logo.png", class="logo")
            div(class="botones")
                ul(class="nav-bar")
                    li(class="item"): a(href="/") INICIO
                    li(class="item"): a(href="/polaco") POLACO
                    li(class="item"): a(href="/cultura") CULTURA
                    li(class="item"): a(href="/contactame") CONTACTAME
                    if (_usuario)
                        li(class="item"): a(href="/posts") ADMIN
                        li(class="item"): a(href="/logout") CERRAR SESIÓN

                    //-     li(class="item"): a(href="/editar") POSTEA
                    //-     li(class="item"): a(href="/logout") CERRAR
                    //- else 
                        li(class="item"): a(href="/login") ACCEDER
                //- a(href="/") ¿?
        main
            aside
                a(href="/editar" class="button") Crear post
                //- a(href="/")
            section(class="posts-container")
                each result in _results
                    div(class="post")
                        div(class="post-header")
                            span= result.name
                            span(class="options-button") ...
                            span(class="options")
                                a(href="/editar/"+ result.id) Editar
                                a(href="/borrar/"+ result.id) Borrar
                        div(class="post-content")
                            p= result.text
                else
                    h3 No hay registros de datos.
        footer
            p  &copy; Copyright | Mailliw Katherine Pabon Duque
            p Prueba practica de Sistemas II
            p Facilitador Ing. Mariano Garcia
        script(src="/js/admin.js")