<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/ingles.css">
    <title>Blog de idiomas - MK</title>
</head>

<body>
    <header class="header">
       
        <img src="./images/Logo.png" alt="" class="logo" id="logo">
        
        
        <div class="botones">

            <ul class="nav-bar">
                <li class="item"><a href="./index.html">INICIO</a></li>
                <li class="item"><a href="polaco.html">POLACO</a></li>
                <li class="item"><a href="cultura.html">CULTURA</a></li>
                <li class="item"><a href="contactame.html">CONTACTAME</a></li>
                <li class="item"><a href="editar.html">POSTEA</a></li>
                <li class="item"><a href="login.html">ACCEDER</a></li>
            </ul>

            <a href="">¿?</a>
        </div>
        
    </header>
    
    <main>
        <section class="nav">
            <div class="navigation">
                <h1>Bienvenidos a aprender Ingles</h1>
                <ul>
                    <li>
                        <a href="#unidadI">Unidad I</a>
                    </li>

                    <li>
                        <a href="#unidadII">Unidad II</a>
                    </li>
                    <li>
                        <a href="#unidadIII">Unidad III</a>
                    </li>

                    <li>
                        <a href="#unidadIV">Unidad IV</a>
                    </li>
                    <li>
                        <a href="#unidadV">Unidad V</a>
                    </li>
                </ul>
            </div>
        </section>


        
        <section id="unidadI" class="unidades primarias">
            <div class="texto">
                <h2>Unidad I</h2>
                <h3>Tiempos simples, pronombres interrogativos, preposiciones, conjunciones, articulos y conjunciones</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta illum voluptatem sint,
                    laboriosam assumenda, consequuntur veniam earum cumque perspiciatis, distinctio repellat dolores
                    ex autem consequatur laudantium neque quod ullam. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Esse ipsa porro expedita dolores omnis ratione doloremque ipsam accusamus
                    nesciunt velit reiciendis, reprehenderit quibusdam, fugiat eligendi nihil magni sint numquam
                    culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos
                    consequuntur, tempore reprehenderit animi officiis ratione ducimus et architecto provident
                    voluptatem distinctio odit. Assumenda cum explicabo quaerat ad, commodi quos? Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Amet, nesciunt praesentium! Unde quas voluptates cumque!
                    Dolorem voluptas minus maxime repellat eos, vitae distinctio sed cum eum debitis illum,
                    laboriosam eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui
                    quisquam consectetur, asperiores sunt iusto expedita laboriosam minus repellendus odio obcaecati
                    maxime corporis aliquam vitae modi et, sequi, repellat laborum! Tiempos compuestos (presente y
                    pasado continuo, futuro con going to, presente y pasado perfecto) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni molestias aperiam maxime quidem quisquam omnis. Exercitationem, consequuntur quo libero quis nemo praesentium mollitia, quam dolorem, incidunt ad adipisci consectetur voluptatem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, quisquam provident reiciendis, ullam, commodi pariatur magnam molestias eligendi ab accusantium molestiae consectetur ipsam asperiores nisi velit quo distinctio quaerat ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ratione qui quae officia voluptatem commodi odio temporibus corrupti hic repellendus, doloribus velit officiis, quasi non earum vitae ullam dignissimos incidunt!Loremlorem
                </p>
            </div>
            <div class="img uno">
            </div>
        </section>
        <section id="unidadII" class="unidades secundarias"> 
            <div class="img dos">
            </div>
            <div class="texto">
                <h2>Unidad II</h2>
                <h3>Expresiones comunes para conversar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta illum voluptatem sint,
                    laboriosam assumenda, consequuntur veniam earum cumque perspiciatis, distinctio repellat dolores
                    ex autem consequatur laudantium neque quod ullam. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Esse ipsa porro expedita dolores omnis ratione doloremque ipsam accusamus
                    nesciunt velit reiciendis, reprehenderit quibusdam, fugiat eligendi nihil magni sint numquam
                    culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos
                    consequuntur, tempore reprehenderit animi officiis ratione ducimus et architecto provident
                    voluptatem distinctio odit. Assumenda cum explicabo quaerat ad, commodi quos? Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Amet, nesciunt praesentium! Unde quas voluptates cumque!
                    Dolorem voluptas minus maxime repellat eos, vitae distinctio sed cum eum debitis illum,
                    laboriosam eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui
                    quisquam consectetur, asperiores sunt iusto expedita laboriosam minus repellendus odio obcaecati
                    maxime corporis aliquam vitae modi et, sequi, repellat laborum! Tiempos compuestos (presente y
                    pasado continuo, futuro con going to, presente y pasado perfecto)</p>
            </div>
            
        </section>

        <section id="unidadIII" class="unidades primarias">
            <div class="texto">
                <h2>Unidad III</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta illum voluptatem sint,
                    laboriosam assumenda, consequuntur veniam earum cumque perspiciatis, distinctio repellat dolores
                    ex autem consequatur laudantium neque quod ullam. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Esse ipsa porro expedita dolores omnis ratione doloremque ipsam accusamus
                    nesciunt velit reiciendis, reprehenderit quibusdam, fugiat eligendi nihil magni sint numquam
                    culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos
                    consequuntur, tempore reprehenderit animi officiis ratione ducimus et architecto provident
                    voluptatem distinctio odit. Assumenda cum explicabo quaerat ad, commodi quos? Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Amet, nesciunt praesentium! Unde quas voluptates cumque!
                    Dolorem voluptas minus maxime repellat eos, vitae distinctio sed cum eum debitis illum,
                    laboriosam eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui
                    quisquam consectetur, asperiores sunt iusto expedita laboriosam minus repellendus odio obcaecati
                    maxime corporis aliquam vitae modi et, sequi, repellat laborum! Tiempos compuestos (presente y
                    pasado continuo, futuro con going to, presente y pasado perfecto)
                </p>
            </div>

            <div class="img tres">
            </div>
        </section>

        <section id="unidadIV" class="unidades secundarias">
            <div class="img cuatro">
            </div>
            <div class="texto">
                <h2>Unidad IV</h2>
                <h3>Futuro simple (oraciones afirmativas, negativas y preguntas)</h3>
                <h3>Modales auxiliares (CAN/COULD, MAY/MIGHT, MUST)</h3>
                <h3>Verbos regulares e irregulares</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta illum voluptatem sint,
                    laboriosam assumenda, consequuntur veniam earum cumque perspiciatis, distinctio repellat dolores
                    ex autem consequatur laudantium neque quod ullam. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Esse ipsa porro expedita dolores omnis ratione doloremque ipsam accusamus
                    nesciunt velit reiciendis, reprehenderit quibusdam, fugiat eligendi nihil magni sint numquam
                    culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos
                    consequuntur, tempore reprehenderit animi officiis ratione ducimus et architecto provident
                    voluptatem distinctio odit. Assumenda cum explicabo quaerat ad, commodi quos? Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Amet, nesciunt praesentium! Unde quas voluptates cumque!
                    Dolorem voluptas minus maxime repellat eos, vitae distinctio sed cum eum debitis illum,
                    laboriosam eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui
                    quisquam consectetur, asperiores sunt iusto expedita laboriosam minus repellendus odio obcaecati
                    maxime corporis aliquam vitae modi et, sequi, repellat laborum! Tiempos compuestos (presente y
                    pasado continuo, futuro con going to, presente y pasado perfecto)
                </p>
            </div>
        </section>

        <section id="unidadV" class="unidades primarias">
            <div class="texto">
                <h2>Unidad V</h2>
                <h3>Presente perfecto</h3>
                <h3>Uso con oraciones afirmativas negativas e interrogativas</h3>
                <h3>Voz pasiva en oraciones comunes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla soluta illum voluptatem sint,
                    laboriosam assumenda, consequuntur veniam earum cumque perspiciatis, distinctio repellat dolores
                    ex autem consequatur laudantium neque quod ullam. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Esse ipsa porro expedita dolores omnis ratione doloremque ipsam accusamus
                    nesciunt velit reiciendis, reprehenderit quibusdam, fugiat eligendi nihil magni sint numquam
                    culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dignissimos
                    consequuntur, tempore reprehenderit animi officiis ratione ducimus et architecto provident
                    voluptatem distinctio odit. Assumenda cum explicabo quaerat ad, commodi quos? Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Amet, nesciunt praesentium! Unde quas voluptates cumque!
                    Dolorem voluptas minus maxime repellat eos, vitae distinctio sed cum eum debitis illum,
                    laboriosam eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui
                    quisquam consectetur, asperiores sunt iusto expedita laboriosam minus repellendus odio obcaecati
                    maxime corporis aliquam vitae modi et, sequi, repellat laborum! Tiempos compuestos (presente y
                    pasado continuo, futuro con going to, presente y pasado perfecto)
                </p>
            </div>

            <div class="img cinco">
            </div>
            
        </section>
    </main>

    <footer class="footer">
        <p> &copy; Copyright | Mailliw Katherine Pabon Duque <br>
            Prueba practica de Sistemas II<br>
            Facilitador Ing. Mariano Garcia<br>
        </p>
    </footer>

            
        
    

</body>

</html>