doctype html
html(lang= "en")
    head
        meta(charset= "UTF-8")
        meta(http-equiv= "X-UA-Compatible", content="IE=edge")
        meta(name= "viewport" content= "width=device-width, initial-scale")
        link(rel="stylesheet", href="/css/polaco.css")
        title Blog de idiomas - MK
    body
        header(class="header")
            img(src="/images/Logo.png", class="logo")
            div(class="botones")
                ul(class="nav-bar")
                    li(class="item"): a(href="/") INICIO
                    li(class="item"): a(href="/polaco") POLACO
                    li(class="item"): a(href="/cultura") CULTURA
                    li(class="item"): a(href="/contactame") CONTACTAME
                    if (_usuario)
                        li(class="item"): a(href="/posts") ADMIN
                        //- li(class="item"): a(href="/editar") POSTEA
                        //- li(class="item"): a(href="/logout") CERRAR
                    else 
                        li(class="item"): a(href="/login") ACCEDER
                //- a(href="/") ¿?
        main
            h2 Bienvenidos a aprender Polaco
            div(class="unidades-secciones")
                section
                    h3 Unidad I: SALUDOS Y FORMULAS DE PRESENTACION
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
                section
                    h3 Unidad II
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
                section
                    h3 Unidad II
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
                section
                    h3 Unidad IV
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
                section
                    h3 Unidad V
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
                section
                    h3 Unidad VI
                    p Nazywam się - Me llamo, seguido por el apellido:
                    p Nazywam się Kowalski. - Me llamo Kowalski.
                    p Nazywam się Kowalska. - Me llamo Kowalska. 
                    p Jak się nazywasz? - ¿Cómo te llamas?
                    p Jak pan/pani się nazywa? - ¿Cómo se llama (usted)? 
                    p Nazywam się Ewa. - Me llamo Ewa.
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dzień dobry … Buenos días./Buenas tardes. 
                    p Dobry wieczór … Buenas tardes./Buenas noches. 
                    p Cześć … Hola. 
                    p Witam … Bienvenido/a. (dando la bienvenida individualmente) 
                    p Witamy …Bienvenidos/as. (dando la bienvenida en nombre de un grupo de personas)
                    audio(src="/audios/unidadI.mp3/")
            div
                table
                    caption(class="titulo") Numeros en Polaco
                    tr
                        td Numero
                        td Ortografia
                        td Sonido
                    tr
                        th 1
                        th Jedem
                        th: button Escucha
                    tr
                        td 2
                        td Dwa
                        th: button Escucha
                    tr
                        td 3
                        td Trzy
                        th: button Escucha
                    tr
                        td 4
                        td Cztery
                        th: button Escucha
                    tr
                        td 5
                        td Pięć
                        th: button Escucha
                    tr
                        td 6
                        td Sześć
                        th: button Escucha
                    tr
                        td 7
                        td Siedem
                        th: button Escucha
                    tr
                        td 8
                        td Osiem
                        th: button Escucha
                    tr
                        td 9
                        td Dziewięć
                        th: button Escucha
                    tr
                        td 10
                        td Dziesięć
                        th: button Escucha
                    tr
                        td 11
                        td Jedenaście
                        th: button Escucha
                    tr
                        td 12
                        td Dwanaście
                        th: button Escucha
                    tr
                        td 13
                        td trzynaście
                        th: button Escucha
                    tr
                        td 14
                        td czternaście
                        th: button Escucha
                    tr
                        td 15
                        td piętnaście
                        th: button Escucha
                    tr
                        td 16
                        td szesnaście
                        th: button Escucha
                    tr
                        td 17
                        td siedemnaście
                        th: button Escucha
                    tr
                        td 18
                        td osiemnaście
                        th: button Escucha
                    tr
                        td 19
                        td dziewiętnaście
                        th: button Escucha
                    tr
                        td 20
                        td dwadzieścia
                        th: button Escucha
                    tr
                        td 30
                        td Trzydzieści
                        th: button Escucha
                    tr
                        td 40
                        td Czterdzieści
                        th: button Escucha
                    tr
                        td 50
                        td Pięćdziesiąt
                        th: button Escucha
                    tr
                        td 60
                        td Sześćdziesiąt
                        th: button Escucha
                    tr
                        td 70
                        td Siedemdziesiąt
                        th: button Escucha
                    tr
                        td 80
                        td Osiemdziesiąt
                        th: button Escucha
                    tr
                        td 90
                        td Dziewięćdziesiąt
                        th: button Escucha
                    tr
                        td 100
                        td Sto
                        th: button Escucha
        footer
            p  &copy; Copyright | Mailliw Katherine Pabon Duque
            p Prueba practica de Sistemas II
            p Facilitador Ing. Mariano Garcia
